modules = ["nodejs-20", "web", "bash"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 40883273
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev --host 0.0.0.0"
